body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 240, 247);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidemenu-app {
  background-color: #43425d !important;
} 

.text-white {
  color: white !important;
}

.ui.vertical.menu .active.item {
  background: rgba(0,0,0,.25) !important;
}

.ui.thin.left.sidebar, .ui.thin.right.sidebar {
  width: 200px !important;
}

.row-reverse {
  flex-direction: row-reverse !important;
}

.react-datepicker-wrapper {
  display: block !important;
}

.button-primary {
  background-color: #43425D;
}

input:read-only {
  background-color: rgba(0,0,0,.05) !important;
}

textarea:read-only {
  background-color: rgba(0,0,0,.05) !important;
}

.ui.button {
  font-weight: 100 !important;
}

.ui.blue.button {
  background-color: #43425D !important;  
}

.ui.blue.button:hover {
  background-color: #35354b !important;
}

.ui.basic.blue.button, .ui.basic.blue.buttons .button {
  box-shadow: 0 0 0 1px #43425D inset !important;
  color: #43425D !important;
  background-color: white !important;
}

.ui.basic.blue.button:hover, .ui.basic.blue.buttons:hover .button:hover {
  box-shadow: 0 0 0 1px #35354b inset !important;
  color: #35354b !important;
}

.ui.blue.card, .ui.blue.cards>.card, .ui.cards>.blue.card {
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 0 0 #43425D, 0 1px 3px 0 #d4d4d5;
}

.ui.blue.card:hover, .ui.blue.cards>.card:hover, .ui.cards>.blue.card:hover {
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 0 0 #2b2b72, 0 1px 3px 0 #d4d4d5;
}

.ui.blue.header {
  color: #43425D !important;
}

.ui.segment {
  padding: 30px;
}

.primary {
  background-color: #3B86FF !important;
}

.ui.button>.icon:not(.button) {
  margin: 0 .62857143em 0 -.21428571em !important;
}

.ui.vertical.menu .item > i.icon {
  float: left !important;
  margin: 0px 10px 0 0 !important;
}

.ui.vertical.menu .active.item > i.icon {
  color:#A3A0FB !important;
}

.ui.vertical.menu .item {
  position: initial !important;  
}

.ui.vertical.menu .active.item {
  border-left: 4px #A3A0FB solid;
}
